body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1DD1F5;
}

header {
    background-color: #1DD1F5;
}

nav {
    background-color: #337FEA;
}

ul {
    list-style: none;
    color: #000000;
}

/*nav bar*/
#nav_bar {
    float: right;
    text-decoration-color: #ffffff;
    text-decoration: none;
}

#nav_bar li {
    display: inline-block;
    padding: 8px;
}

#nav-links {
    color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

li.nav-links a:hover {
    text-decoration: solid;
}

#Places {
    color: #000;
}

.travel-guide #logo {
    text-align: left;
    display: block;
    margin: 0 auto;
    clear: both;
}

/* just adding some styling to make the carousel more depressing */
#carouselExampleIndicators {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 70%;
}

h1 {
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
}

h5, p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* placing carousel captions at the very bottom of the image */
.carousel-caption {
    bottom: 0;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}



.buttons #place_1 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    margin-top: 800px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons #place_2 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    margin-top: 800px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons #place_3 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    margin-top: 800px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons #place_4 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons #place_5 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons #place_6 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    text-decoration: solid;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    text-align: left;
}

.form-search {
    width: 600px;
    line-height: 40px;
    padding: 20px 10px;
}

.form #form-search {
    padding: 0px;
}

footer {
    
    border-top: solid 2px #000000;
    border-bottom: 100px;
    padding-bottom: 100px;
    width: 100%;
}

#socials {
    float: right; 
}

footer {
    background-color: #91D7F2;
}
footer li {
    display: inline-block;
}

#footer ul li {
    display: inline;
    font-size: 14px;
    padding: 13px;
}

footer ul {
    float: right;
    padding: 1px;
}

footer ul a:hover {
    text-decoration: underline;
}

h3 {
    text-align: center;
    font-style: italic;
}