body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

/*nav bar*/
.navbar {
    background-color: #65b0cd;
    font-size: 20px;
    margin-bottom: 1px;
}

#container-fluid:hover {
    box-shadow: 0 0 2px 1px #000000;
}

/* just adding some styling to the carousel */
#carouselExampleIndicators {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 43%;
    left: 50%;
    width: 100%;
    height: 70%;
}


h5 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* placing carousel captions at the very bottom of the image */
.carousel-caption {
    bottom: 0;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*buttons*/
.buttons {
    width: 300px;
    height: 300px;
    margin-top: 800px;
    font-size: x-large;
    margin-bottom: 50px;
    object-fit: cover;
    border-radius: 50px;
    background-image: url(/cyprus.jpg);
}

.buttons #France {
    background-image: url(/france.jpg);
}

.buttons #Cyprus {
    background-image: url(/cyprus.jpg);
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button-container:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*search box*/
.form {
    text-align: left;
}

.form-search {
    width: 600px;
    line-height: 40px;
    padding: 20px 10px;
}

.form #form-search {
    padding: 0px;
}

/*about the footer*/ 
footer {
    background-color: #65b0cd;
    border-top: solid 2px #000000;
    border-bottom: 100px;
    padding-bottom: 100px;
    width: 100%;
}

#socials {
    float: right;
}

footer li {
    display: inline-block;
}

#footer ul li {
    display: inline;
    font-size: 14px;
    padding: 13px;
}

footer ul {
    float: right;
    padding: 1px;
}

footer ul a:hover {
    text-decoration: underline;
}

h3 {
    text-align: center;
    font-style: italic;
}

/* about page profiles*/

.image-container {
    display: flex; /* Use Flexbox layout */
    justify-content: space-between; /* Space the images evenly */
}
.image-container img { /* Set the width of each image to 50% of the container */
    height:20%;
    object-fit: cover;
    border-radius: 0%;
    margin: 10px;
}

/*Cyprus carousel*/
#carouselCyprusIndicators {
    display: flex;
    justify-content: center;
    width: 30%;
    height: 70%;
}

table {
    text-align: center;
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    text-decoration: double;
}