body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #90d9f7;

}

ul {
    list-style: none;
}

/*nav bar*/
.navbar {
    background-color: #65b0cd;
    font-size: 20px;
    margin-bottom: 1px;
}


/* just adding some styling to make the carousel more depressing */
#carouselExampleIndicators {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 43%;
    left: 50%;
    width: 100%;
    height: 70%;
}

h1 {
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
}

h5, p {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

/* placing carousel captions at the very bottom of the image */
.carousel-caption {
    bottom: 0;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.buttons #place_1 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    margin-top: 800px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    background-image: url(/city\ break.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons #place_2 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    margin-top: 800px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    background-image: url(/beach\ break.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons #place_3 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    margin-top: 800px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    background-image: url(/family\ friendly.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons #place_4 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    background-image: url(/tourist\ atttractions.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons #place_5 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    background-image: url(/group\ holidays.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.buttons #place_6 {
    display: inline-block;
    color: #000000;
    font-size: x-large;
    text-decoration: solid;
    margin-top: 50px;
    margin-left: 50px;
    text-align: center;
    padding: 120px 120px;
    margin-bottom: 50px;
    background-image: url(/skiing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.form {
    text-align: left;
}

.form-search {
    width: 600px;
    line-height: 40px;
    padding: 20px 10px;
}

.form #form-search {
    padding: 0px;
}

footer {
    
    border-top: solid 2px #000000;
    border-bottom: 100px;
    padding-bottom: 100px;
    width: 100%;
}

#socials {
    float: right; 
}

footer li {
    display: inline-block;
}

#footer ul li {
    display: inline;
    font-size: 14px;
    padding: 13px;
}

footer ul {
    float: right;
    padding: 1px;
}

footer ul a:hover {
    text-decoration: underline;
}

h3 {
    text-align: center;
    font-style: italic;
}

/* about page profiles*/

.image-container {
    display: flex; /* Use Flexbox layout */
    justify-content: space-between; /* Space the images evenly */
  }
  .image-container img { /* Set the width of each image to 50% of the container */
    height:20%
    object-fit: cover;
    border-radius: 0%;
    margin: 10px;
  }